<!-- Section filtering movie app -->
<div class="flex gap-1 mx-6 mt-4">
  <div
    *ngFor="let item of sectionList; let index = index"
    class="text-gray-200 cursor-pointer text-base px-4 py-1 bg-gray-400 duration-700 rounded-[30px]"
    [class.active]="selectedSection == item"
    (click)="changeSection(item, index)"> 
      {{ item | translate }}
  </div>
</div>

<!-- Card section -->
<div class="flex flex-wrap justify-center w-full gap-6 mt-4 mb-6">
  <div
    class="flex flex-col gap-3 bg-white rounded-lg p-10 w-[calc(100%_-_2rem)] md:w-[calc(50%_-_2rem)] lg:w-[calc(25%_-_2rem)] h-[600px] transition-transform duration-300 hover:shadow-xl hover:-translate-y-1 hover:-translate-x-1" *ngFor="let data of movieList; let index = index">
    <h1 class="flex items-center h-[5%] md:h-[15%] text-xl lg:text-3xl font-extrabold break-words">
      {{ data.title }}
    </h1>
    <p class="h-[15%] lg:h-[50%] text-sm lg:text-base overflow-hidden overflow-ellipsis">
      {{ truncateOverview(data?.overview) }}
    </p>
    <img class="w-[45%] md:w-[60%] lg:w-[80%] rounded-lg md:rounded-md" [src]="'https://image.tmdb.org/t/p/w500' + data.poster_path" />
    <div class="flex gap-2 items-center">
      
      <!-- favorite icons (svg) -->
      <img
        *ngIf="isInFavorites(data); else NoFav"
        class="w-6 lg:w-8 cursor-pointer"
        src="/assets/icons/fav.svg"
        alt=""
        (click)="deleteFav(data)"
      />

      <!-- no favorite icons (svg) -->
      <ng-template #NoFav>
        <img
          (click)="addToFavorites(data)"
          class="w-6 lg:w-8 cursor-pointer"
          src="/assets/icons/no-fav.svg"
          alt=""
        />
      </ng-template>
      
      <!-- eye icons for navigate to detail page -->
      <img
        class="w-6 lg:w-8 mt-1 cursor-pointer"
        src="/assets/icons/detail.svg"
        alt="To detail"
        (click)="toDetail(data)"
      />
    </div>
  </div>
</div>

<!-- Section load more button (infinite scrolling) -->
<div class="flex justify-center">
  <button
    class="mb-6 px-6 py-2 bg-blue-500 text-white rounded-md"
    (click)="loadMore()"
    *ngIf="canLoadMore">
      Load More
  </button>
</div>
